/* Colors:
- #111 or Sheer Black
- #1A1A1D or Dark Grey
- #4E4E50 or Grey
- #6F2232 or Dark Red
- #950740 or Velvet
- #C3073F or Shiny Red
- #66FCF1 or Light Blue
- #45A29E or Dark Blue
*/

/* CSS Ordering:
- Visuals
- Position
- Margin
- Padding
- Size
- Other
*/

/* The top of the page */
.sticky-container {
	/* Visuals */
	background-color: black;
	z-index: 1;

	/* Position */
	position: fixed;
	left: 0%;
	top: 0%;

	/* Size */
	width: 100vw;
	height: 12.5vh;
}

/* Content for top of page */
#sticky-header {
	/* Position */
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;

	/* Margin */
	margin: auto;
}

/* Social media presence for top of page */
.sticky-media {
	/* Position */
	float: right;
	transform: translate(-35px, 3vh);

	/* Margin 
	margin-right: 3vw;
	margin-top: 3.5vh;*/
}

/* The sidebar */
.side-bar {
	/* Visuals */
	background-color: #1A1A1D;

	/* Position */
	position: fixed;
	top: 12.5vh;
	left: 0%;

	/* Size */
	height: 100vh;
	width: 12.5vw;
}

/* Sidebar items */
.side-bar a {
	/* Visuals */
	text-decoration: none;
	font-size: 50px;
	color: white;
	display: block;
	text-align: center;

	/* Padding */
	padding-top: 20px;
}

/* When you mouse over the navigation links, change their color */
.side-bar a:hover {
	/* Visuals */
  	color: #950740;
}

/* Page content */
.main {
	/* Position */
	margin-top: 12.5vh;
	margin-left: 12.5vw;

	/* Size */
	height: 100%;
}

/* About container */
.list-container {
	/* Position */
	position: absolute;
	
	/* Margin */
	margin-right: 40%;

	/* Padding */
	padding: 15px;
}

/* List item */
.list-item {
	/* Visuals */
	background: #1A1A1D;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	cursor: pointer;
	border: none;
	text-indent: 25px;
	text-align: left;

	/* Margin */
	margin-bottom: 15px;

	/* Padding */
	padding: 0%;

	/* Size */
	width: 100%;
	height: 175px;
	
	/* Other */
	justify-content: center;
	flex-direction: column;
}

/* List item hover effect */
.list-item:hover {
	/* Visuals */
	border-style: dashed;
	border-color: #66FCF1;
}

/* List item on focus */
.list-item:focus {
	/* Visuals */
	border-style: solid;
	border-color: #66FCF1;
}

/* Text for explaining items such as games and mods */
.side-text {
	/* Position */
	position: fixed;

	/* Margin */
	margin-left: 47.5%;

	/* Padding */
	padding: 15px;
}

/* Container for about section */
.about-container {
	/* Position */
	position: absolute;

	/* Padding */
	padding-top: 15px;
	padding-right: 20%;
	padding-left: 20%;
}

/* Description of items */
#description {
	/* Size */
	width: 100%;
}

/* Styling for body */
body {
	/* Visuals */
	background: #4E4E50;
	
	/* Position */
	position: absolute;

	/* Margin */
	margin: 0%;

	/* Size */
	width: 100%;
	height: 100%;
}

/* Header 1 */
h1 {
	/* Visuals */
	font-size: 85px;
	color: red;
	font-family: 'Lobster';
	text-shadow: 3px 3px #950740;
}

/* Header 2 */
h2 {
	/* Visuals */
	font-size: 75px;
	color: #66FCF1;
	font-family: 'Concert One';
	text-shadow: 3px 3px #45A29E;
}

/* Header 2 link hover */
a:hover h2 {
	/* Visuals */
	text-decoration-line: underline;
	text-decoration-color: #66FCF1;
}

/* Paragraph */
p {
	/* Visuals */
	color: white;
	font-size: 20px;
	text-align: center;
}

/* Links */
a {
	/* Visuals */
	text-decoration: none;
}

/* Button on focus */
button:focus {
	/* Visuals */
	outline: 0;
}